RESEND_API_KEY=your_resend_api_key
MAIL_RECIPIENT=your@email.com
SECRET_KEY=your-random-secret-key
DATABASE_URL=sqlite:///amber.db
ADMIN_EMAIL=your_admin_email@example.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
